[2021-05-05 23:37] stephtngu opened #10 "Delete text on homepage: "Check out a few real-life examples below.""
On the home page, delete the highlighted text: "Check out a few real-life examples below." -- these are not all real-life examples. Some are generalized.

![image](https://user-images.githubusercontent.com/60265274/117222320-2b3f2880-add9-11eb-9eab-b156449e77c9.png)

[2021-05-05 23:39] stephtngu opened #11 "Add "Other" option to "Harms" dropdown in form"
We need a "catch-all" category that may not be captured by the categories above.

![image](https://user-images.githubusercontent.com/60265274/117222464-70fbf100-add9-11eb-889e-d900cb0d2a5a.png)

[2021-05-05 23:39] stephtngu opened #12 "Add "Other" option to "Industry" dropdown in form"
We need a catch-all for an industry that is not captured on this list.

![image](https://user-images.githubusercontent.com/60265274/117222537-a56fad00-add9-11eb-8beb-75f5c71b1ef7.png)

[2021-05-05 23:41] stephtngu opened #13 "Need to change CR logo in footer to “incubated by CR Digital Lab”"
Ben will provide logofile

![image](https://user-images.githubusercontent.com/60265274/117222612-da7bff80-add9-11eb-8d3a-e5924cd0fd72.png)

[2021-05-05 23:43] stephtngu opened #14 "Added "Partner" + Logo to WP & doesn't show up in staging site"
Here is what I submitted:
![image](https://user-images.githubusercontent.com/60265274/117222701-13b46f80-adda-11eb-984c-0ebde2e43326.png)
![image](https://user-images.githubusercontent.com/60265274/117222713-1b741400-adda-11eb-86c8-6e69de6236b8.png)

Here is what is showing on the website:
![image](https://user-images.githubusercontent.com/60265274/117222664-fe3f4580-add9-11eb-90c0-6a75d2ffac14.pn

[2021-05-05 23:52] stephtngu opened #15 "When user submits with accidental form errors, all form information above is erased"
From a usability tester:
* I didn’t type in affiliated company (company name was the URL)
* I submitted
* Then I received an error message; when the screen refreshed with the message, the form lost all of the info I had typed in as well as the image.

![image](https://user-images.githubusercontent.com/60265274/117223123-021f9780-addb-11eb-9487-001fff377879.png)

Here is the blank form that appeare

[2021-05-06 01:07] stephtngu opened #16 "[Email address] form field should be optional not mandatory"
Currently - this field seems to be required.
* Write "Email Address (Optional)" as the text above the form field
* Please make sure user does not have to fill this in / it is actually optional
* Keep current tooltip info as is

![image](https://user-images.githubusercontent.com/60265274/117227818-b0c8d580-ade5-11eb-88ba-54c63eed364e.png)

[2021-05-06 01:16] stephtngu opened #17 ""Describe this dark pattern (Optional)" > Please remove "optional" and just leave "Describe this dark pattern""
Upon second glance, it would be great for people to _try_ to include this because it would help a lot on the moderation front for us to understand what we're supposed to be looking at and use as much of their language on what they experienced as possible.

[2021-05-06 01:17] stephtngu opened #18 "Change "Source Link" text on form to "Where did you find this dark pattern? (ex. Include source or link to website, app, tweet or post)""
Change "Source Link" text on form to "`Source Link (ex. Link to website, app, tweet or post)`"
![image](https://user-images.githubusercontent.com/60265274/117228550-46189980-ade7-11eb-8e36-866f621d4f74.png)

[2021-05-06 01:34] stephtngu opened #19 "Make "Source Link" is optional and not mandatory for user to submit form"
Did a few usability tests with people, they may not have a source link - only a screenshot. We can make this optional. We don't need to say that it's "optional" - because we also similarly want to encourage source information.

[2021-05-06 04:01] stephtngu opened #20 "Add hyperlink to CR's "Consumer Reports' Privacy Policy and User Agreement" in the form"
![image](https://user-images.githubusercontent.com/60265274/117240046-fa251f00-adfd-11eb-90bd-1f9795071fbc.png)

- [ ] Add links
- [ ] Make font bigger / same size as the other label text on the page (so it doesn't look like we're trying to sneak things into the submit)

[2021-05-06 04:06] stephtngu opened #21 "Add helper text to the "Describe your dark pattern" field box"
![image](https://user-images.githubusercontent.com/60265274/117240188-4bcda980-adfe-11eb-947e-dbf58a44e7bf.png)

In place of "Enter your description" or add somewhere as visible helper text:
`Please explain what you experienced in detail and what harm it caused you. If possible, please explain how we can try to recreate your experience. `

This is because there will be some people who write "Other

[2021-05-06 04:18] stephtngu opened #22 "Consider using another column for dark pattern to use more screen real estate"
As this list grows - I think there is a lot of white space that can currently be used to fill the screen a bit more, especially as you're scrolling down. Could there be 3 columns of dark patterns?

![image](https://user-images.githubusercontent.com/60265274/117241031-2b9eea00-ae00-11eb-8812-f4ed3bf4a820.png)

[2021-05-06 04:21] stephtngu opened #23 "Industry does not seem to be appearing in the "deep dive" of the submitted pattern page."
In this example - we selected "education" as the industry in the form and then published from the wordpress page.
However, in the image below, there is no industry shown here.

![image](https://user-images.githubusercontent.com/60265274/117241284-cb5c7800-ae00-11eb-8888-f49081ece66d.png)

![image](https://user-images.githubusercontent.com/60265274/117241318-e4652900-ae00-11eb-9ef5-51b89022d46b.png

[2021-05-06 20:33] tbeck opened #25 "Self host font (Dela Gothic One)"
https://fonts.google.com/specimen/Dela+Gothic+One

[2021-05-07 15:27] nathanielfostanperry commented on #22
@stephtngu I adjusted the layout site-wide to accommodate larger screen sizes, which led to 3 columns on this page in addition to the Harms. The rest of the pages have been updated accordingly but those  changes are much more subtle.

The new breakpoint should appear at 1600px wide. [Here's a screenshot](https://gyazo.com/b5a6d29f3c338fdbc3c04eeeb65b9171) of this page at 1920x1080

[2021-05-07 17:34] tbeck commented on #25
@benrito - Closing for now as the font appears to be loading as expected when served locally.

[2021-05-07 17:34] #25 closed

[2021-05-09 20:30] snguyen-gov commented on #22
@nathanielfostanperry this looks great

[2021-05-10 03:06] snguyen-gov opened #27 "Include source link that is provided in form on dark pattern specific page"
Currently, we ask for a source link in the form, but that source is not included in the dark pattern specific page. In order to correctly "cite" the source, could we include this please?

![image](https://user-images.githubusercontent.com/79227044/117600996-1afdb500-b11b-11eb-99b2-b9e50143f858.png)

![image](https://user-images.githubusercontent.com/79227044/117600812-b3476a00-b11a-11eb-9725-5204e

[2021-05-10 03:06] snguyen-gov commented on #27
wrong account!

[2021-05-10 03:06] #27 closed

[2021-05-10 03:07] stephtngu opened #28 "No source link currently included in the dark pattern specific page"
Currently, we ask for a source link in the form, but that source is not included in the dark pattern specific page. In order to correctly "cite" the source, could we include this please?

![image](https://user-images.githubusercontent.com/79227044/117600996-1afdb500-b11b-11eb-99b2-b9e50143f858.png)

![image](https://user-images.githubusercontent.com/79227044/117600812-b3476a00-b11a-11eb-9725-5204e

[2021-05-10 03:14] stephtngu commented on #13
+ @benrito for awareness.

[2021-05-10 03:15] stephtngu commented on #20
Privacy policy: https://www.consumerreports.org/cro/customerservice/privacy-policy/highlights/index.htm
User agreement: https://www.consumerreports.org/cro/2015/01/user-agreement/index.htm

cc: @benrito for awareness

[2021-05-10 03:17] stephtngu commented on #20
Note: The text for "How we'll use your data" is still pending as of right now.

[2021-05-10 03:26] stephtngu opened #30 "Tagged harms under dark pattern submissions not being aggregated into "harm overview page""
Not all dark patterns that are tagged with "felt shamed" seemed to be aggregated into this page:

Current "felt shamed page" only shows one example
![image](https://user-images.githubusercontent.com/60265274/117602070-d293c680-b11d-11eb-9c79-da8cb7fb0afb.png)

This is one dark pattern I submitted with a "felt shamed" harm tag:
![image](https://user-images.githubusercontent.com/60265274/117602132-f

[2021-05-10 16:27] nathanielfostanperry opened #31 "Examples do not tab through with keyboard input"
navigation for 'dark patterns are everywhere' do not focus with keyboard input

https://gyazo.com/2fa83eee78fd54a0158607f02450d493

[2021-05-10 18:23] nathanielfostanperry commented on #14
@stephtngu can you confirm this is behaving as expected?

[2021-05-10 18:24] nathanielfostanperry commented on #23
@stephtngu Can you confirm Industries are showing up now

[2021-05-10 18:55] snguyen-gov commented on #28
linking this with #18

[2021-05-10 18:59] #10 closed

[2021-05-10 19:00] stephtngu commented on #22
got it thanks, we can close this for now. @nathanielfostanperry

[2021-05-10 19:15] nathanielfostanperry commented on #28
@stephtngu That makes sense for probably most of the cases that will be received. If we don't have a URL though, should we pitch to just hide that section?

We have examples that currently don't link any where such as [this MS Edge case](https://darkpatterns.gatsbyjs.io/example/persuaded-me-to-use-the-browser-with-button-colors/) "From setting up a PC"

[2021-05-10 19:22] nathanielfostanperry opened #34 "Mobile menu does not open"
"menu" on mobile screen sizes does not open the menu

- result of removing bootstrap js dependency most likely

[2021-05-10 19:24] nathanielfostanperry opened #35 ""active" state not being set on interior pages"
Expected - interior pages, eg harm types, sighting submissions - should show either Harms or Sightings in the main nav as being active

[2021-05-10 22:10] nathanielfostanperry opened #36 "Inline anchor links are difficult to read"
The primary color used as anchor links is difficult to read on light backgrounds

https://gyazo.com/ec8ca10a2217e53d34ad2b084c50a408

[2021-05-10 22:29] tbeck commented on #12
Added as part of #37

[2021-05-10 22:33] tbeck commented on #15
Client-side validation was added as part of #33 and should prevent this from happening. We are going to need to test for issues that happen on the server side to make sure that we are accounting for proper messaging, however, I feel like this can be tested/reviewed at this point here: https://darkpatterns.gatsbyjs.io/report/

[2021-05-10 22:41] tbeck commented on #21
This was added as part of #33

[2021-05-11 00:17] stephtngu commented on #36
+1 to this suggestion - there was another person who made the same comment:

`"the links for “Privacy policy” and “user Agreement” at the bottom of the form don’t meet color contrast standards (#fed230 against #FFF). Could we use a darker color for those links, or add contrast in some manner?"`

[2021-05-11 00:25] #21 closed

[2021-05-11 00:26] #17 closed, assigned to stephtngu

[2021-05-11 00:27] #19 closed

[2021-05-11 00:28] stephtngu opened #39 "Cannot select harm in dropdown of form field"
User cannot select anything
![image](https://user-images.githubusercontent.com/60265274/117740312-2e1d8d00-b1ce-11eb-8185-b787397a070a.png)

[2021-05-11 00:28] stephtngu commented on #16
tested, works well

[2021-05-11 00:28] #16 closed

[2021-05-11 00:29] stephtngu commented on #12
looks good

[2021-05-11 00:29] #12 closed

[2021-05-11 00:30] #11 closed

[2021-05-11 00:34] #15 closed

[2021-05-11 00:36] stephtngu commented on #18
@tbeck @nathanielfostanperry - yes please update to:
`Where did you find this dark pattern? (ex. Include source or link to website, app, tweet or post)`

[2021-05-11 00:37] stephtngu commented on #28
@nathanielfostanperry yes agreed - if no source is included (meaning no legitimate text or URL in that box at all), then we should hide that section.

[2021-05-11 00:43] stephtngu commented on #14
this works thank you. @nathanielfostanperry do you know how we can control the order of these logos? I tried changing the timestamp of the image upload which doesn't seem to work.

[2021-05-11 00:45] stephtngu opened #40 "change "partners" to "advisory""
due to legal reasons, we need to change "partners" everywhere to "advisory.": mainly, in the "partner" header page here - this should say "advisory"

referencing here:
https://github.com/ocupop/dark-patterns/blob/main/src/pages/about.js

![image](https://user-images.githubusercontent.com/60265274/117741477-97060480-b1d0-11eb-861f-b1d84e37b602.png)

[2021-05-11 00:50] stephtngu commented on #23
yes!

[2021-05-11 00:50] #23 closed

[2021-05-11 00:52] stephtngu opened #41 "is there a way to control order of partner logos?"
i tried changing the submission timestamp of the image upload, but this did not work. any ideas?

[2021-05-11 01:03] stephtngu opened #42 "Add footer links to "How we'll use your data" and "User agreement""
How we'll use your data: [Pending the creation of a page for this] see text in content repo.
User agreement: https://www.consumerreports.org/cro/2015/01/user-agreement/index.htm

[2021-05-11 01:04] stephtngu opened #43 "how do i change the order of the team page?"

[2021-05-11 01:19] stephtngu opened #44 "Make industry text larger to match the same size of the other normal text on this page. (e.g. social media, smart devices, etc.)"
![image](https://user-images.githubusercontent.com/60265274/117743725-565cba00-b1d5-11eb-89c0-dd52e53595a3.png)

[2021-05-11 03:21] nathanielfostanperry commented on #40
@tbeck Let's make sure to update this on wp end too

[2021-05-11 14:48] tbeck commented on #28
@stephtngu - We have updated to add logic for the hyperlink versus string. It requires that all hyperlinks start with the protocol (http or https)

[2021-05-11 14:55] #36 closed

[2021-05-11 15:15] #39 closed

[2021-05-11 15:16] #30 closed

[2021-05-11 15:35] #31 closed

[2021-05-11 15:37] nathanielfostanperry commented on #43
@stephtngu updated logic to follow the published date/time in wordpress

[2021-05-11 15:38] nathanielfostanperry commented on #44
@stephtngu This is ready for review

[2021-05-11 15:46] tbeck opened #47 "Add success and error messaging for form submissions"

[2021-05-11 16:17] nathanielfostanperry commented on #18
@stephtngu here is the updated form language https://gyazo.com/0e50f5391ff0dcc35bcbf29eea441f5a

Just referencing #28 also - updated the language on that page to "where can you find this?"

[2021-05-11 16:20] nathanielfostanperry commented on #28
@stephtngu Added logic so if a URL is entered in the form it will [display a link like this ](https://gyazo.com/12aa581a6b1af32d3d36e5fa6e3c1c28)
otherwise we just get a [text string like this](https://gyazo.com/7d675b8a8a6d858d340aed495c0ff901)

[2021-05-11 17:53] benrito opened #48 "Change button text on /harms"
The button that says "Wall of Shame" should say "Sightings"

[2021-05-11 19:22] #18 closed

[2021-05-11 19:53] #40 closed

[2021-05-11 19:59] #41 closed

[2021-05-11 20:16] stephtngu opened #49 "In place of everywhere there is <p class="text-small"> can we standardize so that the smallest text size is the text size under normal <p>?"
For example - can we please use the text size under "our purpose" as the smallest text across the site?

Places where small text appears:

![image](https://user-images.githubusercontent.com/60265274/117877211-4646e800-b272-11eb-84d1-598b82fd4ff8.png)

![image](https://user-images.githubusercontent.com/60265274/117878691-fff28880-b273-11eb-96da-812429c6dfc7.png)

![image](https://user-images.github

[2021-05-11 20:34] #43 closed

[2021-05-11 20:39] stephtngu commented on #28
@nathanielfostanperry Thanks! did you use the text "View Dark Pattern" to obscure the lengthy URL or make it cleaner or something else? Curious what your thinking was behind this.

[2021-05-11 21:31] benrito commented on #42
@nathanielfostanperry , sorry for the late notice on this — can we change the footer to "How We'll Use Your Submission" (instead of "Data")

[2021-05-11 21:35] benrito opened #50 "Email form: remove "stay informed" default text"
We allow users to share email so we can get in touch to clarify or interview them, not to keep them informed — so the default "stay informed" text should be changed to something "You can reach me at..."

[2021-05-11 21:38] benrito opened #51 ""Our purpose" text in home page footer adjustment"
Replacing the text in "Our Purpose"

The Dark Patterns Tip Line is a platform people can use to submit deceptive designs they encounter in everyday digital products and services. Through crowdsourcing human stories of digital manipulation and amplifying people’s voices, we will raise awareness of the real-life harms that result from deceptive design.

The submissions reflect the views of the peopl

[2021-05-11 21:42] benrito opened #52 "Title attributes?"

[2021-05-11 21:42] benrito opened #53 "Social share image?"

[2021-05-11 21:45] benrito commented on #28
Sorry for coming in late. Steph, don't think we want to expose this... if the patterns get fixed we'll be linking to sites where the pattern may no longer be there.

Think this is an instance where collecting the structured data is good, but surfacing it is bad.

Isn't it better to have that data stored in the CMS and included in the description, per the curators' discretion?

Thoughts?

[2021-05-12 01:52] stephtngu commented on #28
@benrito - I believe @nathanielfostanperry designed this so that the curator can take out the source completely for whatever reason (including but not limited to if the pattern may no longer be there). If the source / text / link is NOT present, then that section will not show up.

The reason to keep this here as an option is the use case where people may WANT to know where the dark pattern came f

[2021-05-12 02:54] stephtngu opened #54 "include images for "dark patterns are everywhere" carousel on home page for different industries"
this seems to be being built out as we speak, but wanted to flag the images for each of the industries that are not complete just yet.

![image](https://user-images.githubusercontent.com/60265274/117911403-b6259480-b2ab-11eb-9bc2-a3a2ec57ddf9.png)

[2021-05-12 03:18] stephtngu opened #55 "Change email field to explicitly say optional: "Email (Optional)""
@benrito - based on email thread and issues with AN / do you agree with these changes?

- [x] Change email field to say "Email (Optional)"
- [x] Change "Stay informed..." to "For us to reach out if we have questions only"

![image](https://user-images.githubusercontent.com/60265274/117913333-313c7a00-b2af-11eb-8691-2bc3700bf1fa.png)

[2021-05-12 03:21] stephtngu opened #56 "Ben - is it possible with CR legal to make the check box here actually optional or is it required by CR??"
This is related to our conversation with AN.

![image](https://user-images.githubusercontent.com/60265274/117913522-7e205080-b2af-11eb-8f4e-ee7e6b271dbf.png)

[2021-05-12 13:07] benrito commented on #56
We can either have a checkbox, or the same text without checkbox that says "By Submitting...". If you prefer the latter, let's change this ticket — if the former, we can close this one.

[2021-05-12 13:09] benrito commented on #55
I'll close #50 which is redundant.

Steph, how about "You can reach me at..."

[2021-05-12 13:09] #50 closed

[2021-05-12 13:15] #56 closed

[2021-05-12 13:17] stephtngu commented on #55
@benrito hmm perhaps "For outreach in case we have questions" or something is more representative of the purpose of the email collection to begin with

[2021-05-12 14:24] nathanielfostanperry commented on #49
This will probably need some additional design input to reenforce hierarchy

[2021-05-12 14:29] stephtngu commented on #13
@benrito to clarify this ask, do you want just this logo above to replace the current CR logo in the footer? you initially mentioned you wanted it to say "incubated by"  so did you want to add that text?

[2021-05-12 16:24] benrito opened #57 "Footer copyright adjustment"
Should read:

© 2021 Consumer Reports, Inc

[2021-05-12 18:46] tbeck opened #59 "page meta defaults and management through the CMS"
@benrito -
Here are the fields that we are currently accounting for and their default values. Let me know if you think we need to make adjustments. These values get used for page meta including OpenGraph and Twitter specific meta tags. We also have set it up so that meta can be overwritten on a page by page basis in WP (Through the Yoast Plugin)

{
  "title": "Dark Patterns Tipline",
  "descriptio

[2021-05-12 18:47] tbeck commented on #52
@benrito - We pushed updates to the logic to allow for page titles and fallbacks.
I am adding another github issue to track additional meta/seo defaults and management through the CMS (WP) #59

[2021-05-12 22:14] #34 closed

[2021-05-12 22:15] nathanielfostanperry commented on #57
@benrito This is up for review

[2021-05-12 22:16] nathanielfostanperry commented on #55
@benrito @stephtngu This is up for review

[2021-05-12 22:16] nathanielfostanperry commented on #54
@stephtngu This is up for review

[2021-05-12 22:17] nathanielfostanperry commented on #51
@benrito this has been updated on the site

[2021-05-12 22:17] nathanielfostanperry commented on #48
@benrito All these references should be removed now

[2021-05-12 22:18] nathanielfostanperry opened #62 "Add content for 'How well use your submission"

[2021-05-12 22:19] nathanielfostanperry commented on #42
@benrito Footer links have been updated.

I opened a separate issue #62 to add in the content when it is finalized. Looks like there is still some discussion in the content doc.

[2021-05-12 22:54] benrito commented on #13
Hey @nathanielfostan @stephtngu —

Just had a convo about this— in the end, we can probably skip the logo entirely and just have text that says:

An experiment incubated by the [CR Digital Lab](http://lab.cr.org)

[2021-05-12 22:55] benrito commented on #59
Hey crew,

"title": "Dark Patterns Tipline",
"description": "The Dark Patterns Tip Line is a platform people can use to submit deceptive designs they encounter in everyday digital products and services.",
"url": "https://darkpatternstipline.org", // Site domain?
"inLanguage": "en-US", // Language Tag on element
"logo": "/img/logo.png", // Used for SEO and favicon
"ogLanguage": "en_US", // Facebook

[2021-05-12 22:56] benrito commented on #57
Perfect!

[2021-05-12 22:57] benrito commented on #55
Looks good. Note the tooltip should end at "we won't share your email"

[2021-05-12 22:57] benrito commented on #42
Looks good!

[2021-05-12 22:57] benrito commented on #51
Looks good!

[2021-05-12 22:58] #48 closed

[2021-05-12 22:58] #42 closed

[2021-05-12 22:59] benrito commented on #28
If we're willing to remove the text if the link no longer applies, that can work.

[2021-05-12 23:32] tbeck commented on #59
Thanks @benrito

[2021-05-12 23:32] #59 closed

[2021-05-12 23:37] #51 closed

[2021-05-12 23:37] #54 closed

[2021-05-12 23:39] #57 closed

[2021-05-12 23:45] nathanielfostanperry opened #63 "404 page"
- [ ] 404 messaging

- [ ] 404 page

[2021-05-13 00:24] nathanielfostanperry commented on #49
@stephtngu Updated text size and hierarchy

[2021-05-13 00:25] #62 closed

[2021-05-13 00:25] #63 closed

[2021-05-13 01:34] stephtngu commented on #49
looks great!

[2021-05-13 01:34] #49 closed

[2021-05-13 01:48] #55 closed

[2021-05-13 01:49] stephtngu commented on #13
![image](https://user-images.githubusercontent.com/60265274/118065951-d4eb6000-b36b-11eb-93a5-996be3a4fe1f.png)
This looks good to me @benrito did you need it to link to the digital lab? if yes, that's the only remaining fix i see for this one.

cc @nathanielfostanperry

[2021-05-13 02:01] stephtngu opened #65 "In testing [delete source link] to see if that section will disappear, the link does not seem to disappear"
wordpress
![image](https://user-images.githubusercontent.com/60265274/118066083-0d8b3980-b36c-11eb-885f-331a8e6f7c1b.png)

website
![image](https://user-images.githubusercontent.com/60265274/118066993-ac646580-b36d-11eb-82fa-c1394c49673f.png)

referencing #28

[2021-05-13 02:15] stephtngu commented on #14
This issue seems to be reappearing?

![image](https://user-images.githubusercontent.com/60265274/118067967-8b047900-b36f-11eb-908c-bf2f8fd33355.png)

![image](https://user-images.githubusercontent.com/60265274/118067983-9192f080-b36f-11eb-8d2b-b96d6592a4de.png)

[2021-05-13 02:18] stephtngu opened #66 "the new "Yoast SEO" (or something else) seems to have reverted changes or stopped edits from appearing in the gatsby staging site - do you all know why?"
Any idea why this may be?

For example: #14 #65 #67

[2021-05-13 02:21] stephtngu opened #67 "added new test team member, does not appear in gatsby site"
![image](https://user-images.githubusercontent.com/60265274/118068419-593fe200-b370-11eb-8b1e-06c32ed911b7.png)

![image](https://user-images.githubusercontent.com/60265274/118068482-6d83df00-b370-11eb-8ff2-1a12f8fd6c00.png)

[2021-05-13 14:33] tbeck commented on #66
Hi @stephtngu - It looks like the build was failing because of a bit of fallback logic related to the source link. This is fixed now as part of the most recent PR. Unfortunately, the build fail was blocking the other changes.

@benrito - Could you invite @stephtngu to the Gatsby Cloud account for visibility into the build status. I am happy to step through the UI and give you a 10cent tour if it h

[2021-05-13 14:35] tbeck commented on #67
@stephtngu - It looks like this is resolved now that the build is succesful: https://darkpatterns.gatsbyjs.io/about#team

[2021-05-13 14:38] tbeck opened #70 "Adjust styles to account for blockquotes in content"
@nathanielfostanperry - Here is a link to an example with a block quote in the description:

https://darkpatterns.gatsbyjs.io/example/forced-me-to-agree-to-personalized-advertising-in-a-popup-to-continue-playing/

[2021-05-13 14:39] tbeck commented on #65
@stephtngu - We have pushed an update to the logic that fixed this as well as the build error.

https://darkpatterns.gatsbyjs.io/example/forced-me-to-agree-to-personalized-advertising-in-a-popup-to-continue-playing/

I noticed that there are some html tags that we need to adjust styles to account for though. Creating a new issue to track these efforts: #70

[2021-05-13 23:00] tbeck commented on #70
Thanks Nate!

[2021-05-13 23:00] #70 closed

[2021-05-13 23:22] tbeck commented on #35
@nathanielfostanperry - marking this as complete now

[2021-05-13 23:22] #35 closed

[2021-05-13 23:26] #47 closed

[2021-05-13 23:43] #52 closed

[2021-05-14 05:22] stephtngu commented on #67
I deleted the team member "Test person" but it still is there:

![image](https://user-images.githubusercontent.com/60265274/118225290-d9d70f00-b452-11eb-9f7a-5cd43477b74a.png)

[2021-05-14 05:26] stephtngu commented on #65
@tbeck I re-added the source link to re-add the section but it is now not rebuilding to revert to the previous state.
https://darkpatterns.gatsbyjs.io/sightings/forced-me-to-agree-to-personalized-advertising-in-a-popup-to-continue-playing/
![image](https://user-images.githubusercontent.com/60265274/118225593-67b2fa00-b453-11eb-8aaf-fcd58c5f479e.png)

[2021-05-14 05:29] stephtngu commented on #14
@tbeck it shows up now which is good, but when i reorder the time stamps on the images to reorder the logos, it does not change.

[2021-05-14 05:30] stephtngu commented on #66
unfortunately some issues are still persisting - commented on individual issues

[2021-05-14 21:02] stephtngu opened #73 "add feedback mechanism (contact or email)"
Hey guys - I know this is last minute. Talked to @benrito.

we need a way for people to reach out. there is no way for anyone to get in touch (complain, make a suggestion, journalist outreach, be a partner).

is there way to add a [contact / feedback] link and have it go somewhere where people can submit comments?
* can be stored in wordpress
* can be forwarded to me

Can be simple - we need some

[2021-05-14 21:08] stephtngu opened #74 "edit form opt-in checkbox to be a text statement, remove need for checkbox."
Remove checkbox - just keep the statement alone.

Got feedback from one of the orgs. This is because the checkbox is required and technically the user has no option but to agree, so we don't want to feign that it is optional.

![image](https://user-images.githubusercontent.com/60265274/118331704-f026ae80-b4d6-11eb-9079-dc78e8a47ccc.png)

[2021-05-14 21:09] stephtngu commented on #74
cc: @benrito

[2021-05-14 21:55] stephtngu commented on #73
@benrito leaning toward a hi@darkpatternstipline.org email being the simplest option (as opposed to creating another form somewhere on the website), but would need to set up an email.

[2021-05-17 13:13] tbeck commented on #65
Hi @stephtngu - It looks like we forgot to update the build hook after Ben and I updated the Gatsby Cloud account. So updates to content in WP were not triggering a build. I've changed this and tested on the instance we are using for reference.

In the build history the builds triggered by updates in WP are denoted with "Data Update from Wordpress"

https://www.gatsbyjs.com/dashboard/2d3c1fd2-01f0

[2021-05-17 13:24] tbeck commented on #73
@stephtngu - Let us know where this lands... we can add another form that posts to WP if needed. Otherwise, I agree... the email is the easiest fix.

[2021-05-17 14:36] benrito commented on #73
Hey all,

Been working through this morning. Getting the email setup might take
longer than we've got, because I've got to coordinate with IT here. I
wonder if we can implement a form that sends to an email address, and swap
the email address in later.

Alternately, we can use a mailto: link for ***@***.*** for
the time being.

Thoughts?

-Ben

On Mon, May 17, 2021 at 9:24 AM, Tom Beck ***@***.***

[2021-05-17 14:42] stephtngu commented on #73
@benrito this is slightly unclear. what do you mean by: "Alternately, we can use a mailto: link for ***@***.*** ?

and what specifically is needed for email setup that requires IT coordination? We can have it sent to my email, unless you're suggesting otherwise. what do you mean?

[2021-05-17 15:12] benrito opened #76 "Add Matomo plugin"
Hey fellas, we may be able to do ourselves with admin privs but dropping here ahead of Weds: https://matomo.org/installing-matomo-for-wordpress/

[2021-05-17 21:49] stephtngu opened #79 "Fix call-to Google Font from stylesheet "
from our convo cc: @benrito @tbeck

[2021-05-17 21:49] #74 closed

[2021-05-17 21:54] #28 closed

[2021-05-17 21:57] stephtngu commented on #14
done!

[2021-05-17 21:57] #14 closed

[2021-05-17 21:57] #13 closed

[2021-05-17 22:04] stephtngu commented on #73
@benrito @tbeck

What we decided in the call:
* Add a form page for "contact us"
* Text: We’re here to help and answer any questions you might have about submitting to or supporting The Dark Patterns Tip Line. We won't share your email
* Email address _[form field]_
* Message _[form field]_
* The messages will be added into WP in some link SN can access to address.

[2021-05-17 22:32] nathanielfostanperry opened #80 "Remove Semantic UI"
Form hints & checkbox
should resolve #79

[2021-05-18 00:02] stephtngu commented on #67
fixed!

[2021-05-18 00:02] #67 closed

[2021-05-18 00:02] stephtngu commented on #66
thank you @tbeck !

[2021-05-18 00:02] #66 closed

[2021-05-18 00:19] stephtngu commented on #53
I'm not actually sure how to check if this has been implemented yet. Where should I be looking @tbeck ?

[2021-05-18 00:19] #65 closed

[2021-05-18 12:44] tbeck commented on #53
@nathanielfostanperry
Thanks for adding the temp social share image. Can you update the [image](https://github.com/consumer-reports-digital-lab/dark-patterns/blob/main/static/img/lib-share.png) to be 1200 x 628?

[2021-05-18 12:46] tbeck commented on #80
Thanks @nathanielfostanperry

[2021-05-18 14:17] nathanielfostanperry opened #84 "Footer attached to bottom of page"

[2021-05-18 16:58] tbeck commented on #79
@benrito - We found that the Google Font API call was coming from a checkbox component. We are refactoring to remove and will comment here when it is ready to test.

[2021-05-18 16:59] tbeck commented on #73
This should be ready to test: https://darkpatternstipline.org/contact

[2021-05-18 17:20] tbeck commented on #76
@benrito - We were able to get the Matomo analytics to track visitors to the site and have disabled cookies in the configuration.

Here is a link to the analytics dashboard in WP to review: [[Dashboard](https://darkpatterns.kinsta.cloud/wp-content/plugins/matomo/app/index.php?idSite=1&period=day&date=yesterday&module=CoreHome&action=index#?idSite=1&period=day&date=2021-05-18&segment=&category=Dash

[2021-05-18 18:59] stephtngu commented on #73
i'm unable to test this due to error:
![image](https://user-images.githubusercontent.com/60265274/118708160-62560680-b7e9-11eb-941d-e9ccd0162fa2.png)

also using the gatsby site, i sent 2 messages but did not see the notification via email - is it no longer sending a note . is this because i'm using gatsby and not the real site (https://darkpatternstipline.org/contact)?

[2021-05-18 19:04] stephtngu commented on #73
i used incognito and was able to enter the site (do you know why this may be)?

upon submitting a message, there is no email notification. i went to WP under "feedback messages" (unsure if this is where the messages would be but guessed), and didn't find anything there. let me know what i'm missing / how i may be doing this incorrectly @tbeck ! thank you for your help.

![image](https://user-image

[2021-05-18 19:32] tbeck commented on #73
@stephtngu - We updated the env variables because the authentication token was not valid after we made the switch to the new URL. That should work now and you should receive notifications for all submissions.

[2021-05-18 20:03] tbeck commented on #79
@benrito / @stephtngu - All calls to Google Fonts API have been removed and this is ready to test/review.

[2021-05-18 20:05] tbeck commented on #53
@stephtngu - Here is an online meta tag check: https://www.heymeta.com/url/darkpatternstipline.org

Let me know if we need to adjust any copy?

[2021-05-18 20:06] #80 closed

[2021-05-18 20:06] #84 closed

[2021-05-18 21:53] benrito commented on #76
Hot damn, that is impressive! I checked things out on the client side and everything looks clean.

I won't be able to peer into the dashboard in time, so re-assigning to @stephtngu. Looks OK to you?

[2021-05-18 21:55] #73 closed

[2021-05-18 21:58] stephtngu commented on #76
i won't be able to test this in depth by tomorrow and have never used it before but it looks as if we've got 35 visitors which is what we were looking for. feel free to close as appropriate @benrito

[2021-05-18 22:05] benrito commented on #76
Awesome, thanks Ocupop team!

On Tue, May 18 2021 at 5:58 PM, stephtngu ***@***.***> wrote:

[2021-05-18 22:06] #76 closed

[2021-05-18 22:16] #79 closed

[2021-05-19 15:12] stephtngu commented on #53
![image](https://user-images.githubusercontent.com/60265274/118837665-0e076100-b893-11eb-8917-8f3d0eeb1a2a.png)
cc: @tbeck @nickkrusick seems to be an issue with twitter share

[2021-05-19 15:38] tbeck commented on #53
<img width="1010" alt="Screen Shot 2021-05-19 at 8 37 04 AM" src="https://user-images.githubusercontent.com/242469/118841749-6cc1e000-b87d-11eb-8545-c8dc85444b85.png">

@stephtngu - we updated the share image include an abosolute path and tested to confirm the fix.

[2021-05-19 15:39] stephtngu commented on #53
![image](https://user-images.githubusercontent.com/60265274/118841944-c2ef4d00-b896-11eb-90c5-7c8f85feecdf.png)

@tbeck i'm still getting this in twitter - but i also see the validator update. any reason why this may be?

[2021-05-19 15:48] tbeck commented on #53
@stephtngu - There may be some type of caching mechanism on Twitter’s end where the preview doesn’t show up right away?

@nick got the same thing but the social share image was present in the actual tweet.
Preview: https://gyazo.com/04440fa9fd26857e954ea8892f4e8f85

Tweet: https://gyazo.com/22ac95d2aef6e518238b194acff9d854

[2021-05-19 15:55] tbeck commented on #53
Anytime! Let us know if you continue to have issues and we will continue to monitor on this end to see if the preview resolves.

[2021-05-19 21:18] stephtngu opened #91 ""we found a tech issue in safari. some of the images in one of the homepage carousels aren’t loading. here’s an example, this broken-image frame appears there in every section (whatever that image is doesn’t load on iPhone, either, but it doesn’t give me the broken image frame)""
![image](https://user-images.githubusercontent.com/60265274/118885840-3d839100-b8c6-11eb-93d8-a79671660d08.png)

[2021-05-19 21:32] stephtngu opened #92 "Add text edits on form *AND* add text after form is submitted."
Hi all. We got some feedback from a federal regulator today and need your help to see if we can make some quick text updates in 2 places:
1. on the top of the form
2. in the text after you submit a pattern and it says "successful submission thank you, etc"

We are still getting legal approval so do not make any updates yet, but wanted to highlight this as a heads up. I'll let you know once we get

[2021-05-19 21:36] tbeck commented on #92
Hi @stephtngu - We are happy to make this update as soon as it is ready. As an alternative you can also edit this copy directly in Github here: https://github.com/consumer-reports-digital-lab/dark-patterns/blob/main/src/components/examples/PostExample.jsx

Keep us posted as the conversation progresses.

[2021-05-19 22:02] nathanielfostanperry commented on #91
@stephtngu It's expected behavior for those device images to not get displayed on smaller screens with the lack of real estate. I just pushed an update that should solve the safari issue on desktops though. I wasn't able to replicate the issue however - can you confirm they are loading correctly now?

[2021-05-19 22:26] stephtngu commented on #92
Yes! Approved. I am in transit and can’t get to a computer / gh until later this eve. If you have time i would be greatly appreciative if you could help with changes . And if not I will get to it later.

[2021-05-19 22:38] tbeck commented on #92
@stephtngu - No problem... These changes have been merged as part of #94

https://darkpatternstipline.org/report/

[2021-05-20 00:40] amirad commented on #91
So I reporting it, though it wasn't something I personally found. I did check on my desktop Safari now and the images do show up correctly. The images are working on Safari on my phone as well. All good - thanks for the quick fix!

[2021-05-20 01:43] #91 closed

[2021-05-20 14:28] stephtngu commented on #53
yes thank you!

[2021-05-20 14:28] #53 closed

[2021-05-20 19:40] stephtngu commented on #92
thanks @tbeck ! - keeping this open as there seems to be a change or two more that i make copy edits to the github link above.

[2021-05-20 19:46] stephtngu opened #96 "a way to better view / curate the data? e.g.) change column widths?"
day 1 and we have over 200 submissions 🎉

just brainstorming with you all before we dive into curation - @tbeck @nathanielfostanperry, is there a fairly low-effort way to get a simpler way to view all of the submissions? even if we adjusted the column widths (especially "description") so the post wasn't so narrow, it could be easier to go through.

![image](https://user-images.githubusercontent.co

[2021-05-22 01:59] stephtngu commented on #96
Your screenshot looks much better than mine - any ideas why this may be happening? My width is still pretty small.

![image](https://user-images.githubusercontent.com/60265274/119211376-baa63600-ba7f-11eb-81b6-fc8348cbec18.png)

[2021-05-22 02:08] stephtngu opened #97 "csv download only seems to have 4 columns - missing some data"
Data / csv download includes
* affiliated data
* source link
* description
* email

Data missing from download seems to be
* harm categories
* industries
* date
* featured image (even if it prints saying what is in the table which shows the presence of a file or not. If file, the WP says "329.84 KB") - is there any creative and/or simple way to include the image in the csv download?

![image](http

[2021-05-22 02:12] stephtngu commented on #97
Ah, I think I seemed to have found the place to fix this

![image](https://user-images.githubusercontent.com/60265274/119211666-8c295a80-ba81-11eb-9643-6db11ee69a24.png)

[2021-05-22 02:14] stephtngu commented on #97
![image](https://user-images.githubusercontent.com/60265274/119211709-c4c93400-ba81-11eb-9efb-7f1e76b0d541.png)

resolved

[2021-05-22 02:14] #97 closed

[2021-05-22 11:29] #92 closed

[2021-05-24 15:00] tbeck commented on #96
@stephtngu - Maybe if you change your "screen options" and limit the visible columns. ie... categories and industries.  This should buy you some screen real estate.  These settings only apply to your individual viewpoint.

[2021-05-24 22:03] stephtngu commented on #96
@tbeck Tried to copy your instructions above, but column still seems to be fairly limited. Is there any way we can permanently widen the column for description and make the ones with fairly small text (e.g. image size, affiliated company, sourcelink, etc.)?

![image](https://user-images.githubusercontent.com/60265274/119412667-41465780-bcba-11eb-8f4c-d5956b58cfd0.png)

[2021-05-24 22:06] tbeck commented on #96
Hi @stephtngu - Sorry to hear that didn't help.
I'll look into other ways to customize the viewpoint. What are the priority columns that you need for this viewpoint to be useful?

[2021-05-25 02:05] stephtngu opened #98 "what is the simplest way for me to add industry + harm labels?"

[2021-05-25 02:06] stephtngu commented on #96
deprioritizing this

[2021-05-25 02:06] #96 closed

[2021-05-25 15:57] mattbailey0 opened #99 "Screenshot form field does not work on Android using Firefox"
**Describe the bug**
Using Firefox on Android, the "Screenshot Image" field on the form does not function. Tapping does not provide any interaction. I don't have an iPhone, so unclear if this is OS-specific. Likely not?? The rest of the form works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to either version of the form using Firefox
2. Click on Screenshot Image field.
3.

[2021-05-27 00:39] stephtngu opened #100 "wordpress error when we try to view image links from the data download"
![image](https://user-images.githubusercontent.com/60265274/119748161-45ad7480-be62-11eb-9967-71401b57d762.png)

[2021-05-27 00:39] stephtngu opened #101 "sightings page is down"
![image](https://user-images.githubusercontent.com/60265274/119748237-7392b900-be62-11eb-82e1-5d31f324511a.png)

[2021-05-27 01:08] tbeck commented on #101
Hi @stephtngu - This looks like it is stemming from an error on the Kinsta (WP) server.
https://darkpatterns.kinsta.cloud/wp-admin/

We will dig in further to see if there is anything we can do, otherwise filing a support ticket now with Kinsta.

[2021-05-27 01:09] tbeck commented on #100
Hi @stephtngu - Looking into this now to see if there is anything we can do and filing a ticket with the WP hosting provider Kinsta

[2021-05-27 02:05] tbeck commented on #100
![image](https://user-images.githubusercontent.com/242469/119751217-99fb2900-be4f-11eb-98fb-2103e9016207.png)

Kinsta resolved the issue and the WP admin is now available.

[2021-05-27 02:06] tbeck commented on #101
Kinsta resolved the root issue and I have triggered a rebuild in Gatsby. This should resolve this issue.

[2021-05-27 02:21] tbeck commented on #101
@stephtngu - Just confirming that the sightings page is resolving as expected now. We have added logic to help account for instances where the WP server is "unavailable" as well. #101

[2021-05-27 03:21] stephtngu commented on #100
thanks!

[2021-05-27 03:21] #100 closed

[2021-05-27 03:22] stephtngu commented on #101
thanks!

[2021-05-27 03:22] #101 closed

[2021-06-02 14:12] stephtngu opened #103 "Dark patterns are being published that are not on the published list"
Here are the listed dark patterns that are published on WP:
https://darkpatterns.kinsta.cloud/wp-admin/edit.php?post_status=publish&post_type=example

We are seeing some of the dark patterns that I changed the Title to: Not a dark pattern, Unverified, etc. (BUT DID NOT PUBLISH) show up in the feed in the website.

Any idea why this may be happening?
![image](https://user-images.githubusercontent.c

[2021-06-02 14:13] stephtngu commented on #103
For the examples above, I changed the titles to "unvalidated screenshot" and "not a dark pattern" but did not publish, and they seem to be pushing to publish live with the changed titles.

[2021-06-02 14:16] stephtngu commented on #103
and when you click on the error cards it shows this:

![image](https://user-images.githubusercontent.com/60265274/120496415-8be76400-c38b-11eb-8077-6be911f64b3d.png)

[2021-06-02 14:18] tbeck commented on #103
@stephtngu - Looking into this now. We are not getting the issue locally. I may try triggering a rebuild in Gatsby Cloud, but want to see if I can replicate the issue first.

[2021-06-02 14:18] tbeck commented on #98
Hi @stephtngu - You should be able to add these in the WP admin here: https://darkpatterns.kinsta.cloud/wp-admin/edit-tags.php?taxonomy=industry&post_type=example

[2021-06-02 14:19] stephtngu commented on #103
I'll list the 4 I'm seeing in case helpful to find the problematic ones:
![image](https://user-images.githubusercontent.com/60265274/120496942-fef0da80-c38b-11eb-9649-1d0c69b41251.png)
![image](https://user-images.githubusercontent.com/60265274/120496958-03b58e80-c38c-11eb-8a5f-b3784ceeeb87.png)
![image](https://user-images.githubusercontent.com/60265274/120496978-087a4280-c38c-11eb-8450-c0319063a

[2021-06-02 14:34] tbeck commented on #103
Thanks @stephtngu - I pushed a change #104 that adds a redundant filter for that page. The build was successful and it looks like the issue is fixed. I think that we should continue to monitor the sightings page though.

[2021-06-02 14:36] stephtngu commented on #103
Nice! What was the cause - so I can perhaps be aware/avoid replicating? Me changing the titles (without publishing) triggered something?

[2021-06-02 14:45] tbeck commented on #103
I'm not sure... I don't think that it was anything that you did within the CMS.  I am researching the gatsby-source-wordpress documentation to see if I can find other possible causes and will probably submit a support ticket with Gatsby Cloud to see if they can provide any insight.  It's my understanding that draft content should not be included by default and the filter that we added is redundant

[2021-06-02 14:54] stephtngu commented on #103
sounds good, will close for now.

[2021-06-02 14:54] #103 closed

[2021-06-06 03:00] stephtngu opened #105 "when i modify a title in wp, there is an email saying there is a new form submission - possible to disable notifications that are not submissions?"
i tested this 3 times and each time an email sent right after. when i click the link in the email to verify, the page is stuck on the loading page - any way to disable notifications when there are submission edits?

![image](https://user-images.githubusercontent.com/60265274/120911021-b0746200-c651-11eb-9919-9948c44924e1.png)

![image](https://user-images.githubusercontent.com/60265274/120911029-b

[2021-06-06 03:05] stephtngu opened #106 "in wp image edit, image link does not re-update, populating the first image i clicked on"
issue:

step 1: under examples: go to edit icon on the image column: (see far right)
![image](https://user-images.githubusercontent.com/60265274/120911072-398b9900-c652-11eb-8395-c2e04bb515cf.png)

step 2: click copy URL to keyboard
![image](https://user-images.githubusercontent.com/60265274/120911078-460ff180-c652-11eb-8270-eb9602d71feb.png)

step 3: paste image into new window
the first image sh

[2021-06-25 18:26] stephtngu opened #107 "Submissions don't seem to be working - page gets stuck on "loading""
![image](https://user-images.githubusercontent.com/79227044/123469408-00937400-d5c1-11eb-9848-3a839c09726f.png)

[2021-06-25 19:15] tbeck commented on #107
Looking into this... I'm able to get the form to load, however on submission I get a 403 error. This is a server side error that post request is not authenticated.

We will continue to dig in to see if we can figure out the reason.  Has anything been changed recently on WP side?

[2021-06-25 19:36] tbeck commented on #107
@stephtngu - It appears that the token had expired and was causing the auth error on submissions.

We have fixed and pushed... everything should be working as expected now.

[2021-06-25 19:57] stephtngu commented on #107
@tbeck thank you! This is resolved.

![image](https://user-images.githubusercontent.com/60265274/123478827-03489600-d5ce-11eb-9e28-9b39c691f88e.png)

[2021-06-25 19:57] #107 closed